name: qrcode
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.8
  flutter_animate: ^4.5.2
  lucide_icons: ^0.257.0
  mobile_scanner: ^7.1.3
  pretty_qr_code: ^3.5.0
  icons_launcher: ^3.0.3

icons_launcher:
  image_path: "assets/QR.png"
  platforms:
    android:
      enable: true
    ios:
      enable: true

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0


flutter:

  uses-material-design: true

  assets:
    - assets/



